<div class="researchLayout">
    <div class="Research_leftC">
        <div class="embed-container">
            {%if {{include.id}}%}
            <iframe src="https://www.youtube.com/embed/{{ include.id}}" frameborder="0" allowfullscreen="true">
            </iframe>
            {%endif%}
            {%if {{include.imgURL}}%}
            <img src="{{include.imgURL}}" width="300" height="151" class="img-shadow"></img>
            {%endif%}
        </div>
    </div>
    <div class="Research_RightC">
            <div class="researchDescription">
                <div class="researchtitle">
                   <b>{{include.title}}</b> 
                </div>
               
            </div>
    </div>
</div>
